
//GLOBAL VARIABLES

$global-bg-color: rgb(41, 27, 43);
$global-btn-color: rgb(141, 5, 96);
$global-hover-bt-color: rgb(199, 2, 133);
$global-hover-link-color: rgb(199, 2, 133);


* {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(41, 27, 43);
    color: white;
    font-family: 'Poppins', sans-serif;
}

#header {
    margin:  auto ;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    transition: 0.3s ease;
    background: $global-bg-color;
    color: #ffffff;
    text-decoration: none;
    border-top: 4px solid $global-bg-color;
    border-bottom: 4px solid $global-bg-color;
    margin: 0 20px;
}

.nav-link:hover {
    border-top: 4px solid $global-hover-link-color;
    border-bottom: 4px solid $global-hover-link-color;
    padding: 6px 0; 
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.section-hamburger {
    border: 3px solid black;
}

.section-hotdog {
    border: 3px solid black;
}

.hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-thumb {
    display: flex;
    justify-content: left;
    align-items: left;
}
    
