
//GLOBAL VARIABLES

// SECTION BG COLORS
$bg-about-color: #fcc73a linear-gradient(45deg,#d1681a,#fcc73a);
$bg-projects-color: #51af3d linear-gradient(45deg,#038d58,#51af3d);
$bg-color-contact: #13b6c8 linear-gradient(45deg,#006292,#13b6c8);



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 62,5%;
}

.nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 1rem 2rem;
    top: 0;
    background: black;
    z-index: 999;

    ul {
        display: flex;
        align-items: center;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        text-shadow: 1px 1px rgb(107, 107, 107);
    }

    .nav-link {
        transition: 0.3s ease;
        color: #ffffff;
        text-decoration: none;
        margin: 0 20px;
    }
    
    .nav-link:hover {
        background-color: #fcc73a;
    }
}

.section-home {
    height: 100vh;
      
    .home-video {
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1; //if not -1 the NAV is not vsisible!
    }

    .slogan {
        position: absolute; //absolute makes me move this anywhere on the screen
        left: 10%;
        top: 30%;
        font-size: 4rem;
        line-height: 4rem;
        text-transform: uppercase;
        text-shadow: 1px 1px rgb(107, 107, 107);
        z-index: 3;
    }
    

}

.section-about {
    display: flex;
    justify-content: flex-start;
    background: $bg-about-color;
    height: 100vh;

    .about-wrapper {
        margin: 2rem;
        border: 1px solid black;
        width: 100%;
        padding: 2rem;
    }

    h1 {
        color: white;
        font-size: 3rem;
    }

}

.section-projects {
    display: flex;
    justify-content: center;
    background: $bg-projects-color;
    height: 100vh;

    h1 {
        color: white;
        font-size: 4rem;
        left: 10%;
        margin-top: 3rem;
    }

}

.section-contact {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: $bg-color-contact;

    h1 {
        position: absolute;
        color: white;
        font-size: 4rem;
        left: 10%;
        margin-top: 3rem;
    }
}
